.title {
    margin-bottom: 2rem;
    color: var(--color-text-dark-medium);
    font-weight: 500;
    font-size: 1.5rem;
}

.img__wrapper {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.img__wrapper img {
    object-fit: cover;
}

.img__wrapper h2 {
    text-align-last: left;
}

.sell_car__top {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.tracking_history {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    height: 370px;
    padding-bottom: 70px;
}

.tracking_history h3 {
    color: var(--color-text-dark-medium);
    font-weight: 400;
    margin-bottom: 30px;
    cursor: pointer;
}

.filter__wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.offer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
