.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description {
  width: 100%;
}

.description h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: var(--color-primary-dark);
}

.description p {
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-text-light);
}
.description p > a {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-primary-purple)
}

.description span {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-text-light);
}

.description span::before,
.description span::after {
  display: block;
  position: absolute;
  content: '';
  width: calc(100% / 2 - 20px);
  height: 1px;
  bottom: calc(100% / 2 - 1px);
  right: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(192, 191, 191);
}

.description span::after {
  left: calc(100% / 2 + 20px);
}
