.profile_wrapper {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.profile_image_block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    min-width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.profile_image {}

.title {}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile_data_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile_data > .item {
    display: flex;
    flex-direction: column;
}

.item_title {
    color: var(--color-text-light);
    padding-right: 6px;
}

.item_value {
    padding: 6px 0;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .profile_wrapper {
        padding: 0;
        flex-direction: column;
    }
    .profile_image_block {
        align-self: center;
        max-width: 400px;
        width: 100%;
        height: auto;
    }
    .content {
        padding: 10px;
    }
}