.settings {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}

.settings__top {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 1.5rem;
}

.setting__btn {
    border: none;
    border: none;
    padding: 7px 25px;
    background: transparent;
    border-radius: 5px;
    color: var(--color-text-light);
    font-size: 16px;
    cursor: pointer;
}

.active__btn {
    background: var(--color-primary-purple);
}

.description {
    color: var(--color-text-dark-medium);
    margin-bottom: 20px;
}

.form__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.profile__img_desc {
    color: var(--color-text-lightest);
    margin-bottom: 10px;
}

.details__form {}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 3rem;
}

.actions_wrapper {
    display: flex;
    column-gap: 2.7rem;
}

@media (max-width: 1024px) {
    .form__group {
        flex-direction: column;
        gap: 2rem;
    }
}