.general_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}

.card:nth-child(1){
    background: var(--color-secondary-red);
}

.card:nth-child(2){
    background: var(--color-secondary-green);
}

.card:nth-child(3){
    background: var(--color-primary-purple);
}

.card:nth-child(4){
    background: var(--color-secondary-blue);
}

.content h4 {
    margin: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.content span {
    color: #fff;
    font-size: 2rem;
}

.icon {
    font-size: 2rem;
    font-weight: 400 !important;
    color: #fff;
}