.main_header {
  padding: 0;
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px;
}

.auth_nav {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: flex-end;
}

.profile {
  position: relative;
}