.list {
    max-width: 175px;
    list-style: none;
}

.item {
    width: 100%;
}

.item a.active {
    background-color: var(--color-primary-light);
    padding-left: 15px;
}

.item a:hover:not(.active) {
    background-color: var(--color-text-dark-medium);
    color: var(--color-primary-light);
}

.item a {
    display: block;
    width: 100%;
    padding: 10px 8px;
    font-size: var(--size-text-xxs);
    border-radius: 5px;
    font-weight: 500;
    color: var(--color-text-dark-medium);
    transition: all 0.1s ease-out;
}

.item i {
    font-weight: 400;
    font-size: 20px;
    margin-right: 10px;
}