.offer_card {
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    margin-bottom: 20px;
}

.avg_price{
    color: var(--color-secondary-red);
    font-size: 1.1rem;
    margin-bottom: 0;
}

.avg_price span {
    color: var(--color-text-lightest);
    font-size: 12px;
    font-weight: 500;
}

.market__price {
    color: var(--color-text-light);
    font-size: 12px;
    margin: 5px 0 10px 0;
    font-weight: 500;   
}

.circle__wrapper h4 {
    color: var(--color-text-light);
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.box:nth-child(2) {
    height: 145px;
    width: 120px;
}

.box:nth-child(3) {
    color: var(--color-secondary-blue);
}
.box:nth-child(4) {
    color: var(--color-secondary-red);
}
.box:nth-child(5) {
    color: var(--color-primary-purple);
}
