.icon {
    font-size: 36px;
    font-weight: 500;
}

.amount {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
}

.title {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-light);
}