.wrapper {
    width: 100%;
}

.stats {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 320px;
    padding-bottom: 30px;
}

.stats__title {
    margin: 0;
    color: var(--color-text-dark-medium);
    font-size: var(--size-text-m);
}